.Card {
  position: relative;
  height: 10rem;
  width: 8rem;
  margin: 0.5rem;
}
.Card__front,
.Card__back {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid var(--white);
  border-radius: 0.3rem;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.Card__back {
  background-image: url("../images/i-like-food.svg");
  background-color: var(--blue);
  background-size: 85px;
  background-position: center center;
  transform: rotateY(0deg);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.Card__front {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotateY(180deg);
}
.Card__emoji {
  font-size: 3rem;
}

@media (max-width: 400px) {
  .Card {
    height: 5rem;
    width: 4rem;
  }
}
