.Card {
  position: relative;
  height: 7rem;
  width: 6rem;
  margin: 0.5rem;
}
.Card__front,
.Card__back {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 3px solid var(--orange);
  border-radius: 0.3rem;
}
.Card__back {
  background-image: url("../images/temple.svg");
  background-color: var(--yellow);
  background-size: 50px;
  background-position: center center;
  transform: rotateY(180deg);
}
.Card__front {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card__emoji {
  font-size: 3rem;
}
@media (max-width: 400px) {
  .Card {
    height: 5rem;
    width: 4rem;
  }
}
