@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300;400;600;800&display=swap");
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
:root {
  --yellow: #febb1d;
  --orange: #f36803;
  --red: #be1e00;
  --white: #fdfdf9;
  --black: #332930;
  --card-gradient: radial-gradient(
    circle,
    rgba(190, 30, 0, 1) 9%,
    rgba(243, 104, 3, 1) 26%,
    rgba(254, 187, 29, 1) 59%
  );
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  color: var(--white);
}
#root {
  height: inherit;
  width: inherit;
}
/* design based by Gumpack https://getcssscan.com/css-buttons-examples btn 87 */
.btn {
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);
  border-radius: 0.5rem;
  display: block;
  border: 0px;
  font-weight: 800;
  box-shadow: 0px 0px 0.1rem -4px var(--orange);
  background-image: linear-gradient(
    45deg,
    var(--orange) 0%,
    var(--yellow) 51%,
    var(--red) 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}

/* TEMP */
p {
  font-size: 3rem;
  border: 1px solid var(--orange);
  background: var(--black);
  text-align: center;
  padding: 2rem;
}
