@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
:root {
  --yellow: #febb1d;
  --orange: #f36803;
  --red: #be1e00;
  --white: #fdfdf9;
  --black: #332930;
  --blue: #0f859b;
  --dark-blue: #065664;
  --light-blue: #07b0ce;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  color: var(--white);
  background-image: url("../images/i-like-food.svg");
  background-size: 200px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* design based by Gumpack https://getcssscan.com/css-buttons-examples btn 87 */
.btn {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);
  border-radius: 0.5rem;
  display: block;
  border: 2px solid white;
  font-family: "Rampart One", "Open sans", monospace;
  font-weight: 800;
  box-shadow: 0px 0px 0.1rem -4px white;
  background-image: linear-gradient(
    45deg,
    var(--dark-blue) 0%,
    var(--blue) 51%,
    var(--light-blue) 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}
/* custom radio buttons*/
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  font-family: inherit;
  color: var(--orange);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--orange);
  display: grid;
  position: relative;
  top: 1px;
}
input[type="radio"]::before {
  content: "";

  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: var(--orange);
  transform: scale(0);
  align-self: center;
  justify-self: center;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
